body {
  margin: 0;
  background-color: violet;
}
.container {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.accept {
  background-color: #007bff;
  color: #fff;
}

.accept:hover {
  background-color: #429dff;
}

.accept:focus {
  outline: 1;
}

.cancel:hover {
  background-color: #fc4254;
}

.cancel:focus {
  outline: 1;
  outline-color: #db0015;
}

.cancel {
  background-color: #dc3545;
  color: #fff;
}

.accept,
.cancel {
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1rem;
}

.hide {
  left: 100%;
}
.popTop {
  top: 1%;
  background-color: aquamarine;
}

.popBottom {
  top: calc(100% - 17vh);
  background-color: honeydew;
}

.popUp {
  width: 30%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 10px;
  border: 3px solid green;
  font-size: 1.3rem;
  transition: 0.8s;
}

.show {
  left: 68%;
}

@media only screen and (max-width: 600px) {
  .popTop,
  .popBottom {
    font-size: 0.5rem;
  }
}

@media only screen and (min-width: 601px) {
  .popTop,
  .popBottom {
    font-size: 1rem;
  }
}
